{
    "presets": ["react", "env", "react-hmre"],
    "plugins": [
        ["babel-plugin-styled-components",
            {
                "ssr": true,
                "preprocess": true
            }
        ],
        ["import", {
            "libraryName": "antd",
            "libraryDirectory": "es",
            "style": "css"
        }]
    ]
}